


  <div class="cnt">
    <img
      src="https://http2.mlstatic.com/D_Q_NP_814050-MLA41890466768_052020-G.webp"
      width="10%"
      height="50px"
    />
    <input type="text"/>

    <h2>mercadolibre</h2>
    </div>
<div class="">


    <div class="mostrar">

      <div class="imagen">
        <img src="{{objeto[2].imgurl}}" alt="">
      </div>

      <div class="datos">

        <h2>{{objeto[0].nombre}}</h2>

        <h3>{{objeto[0].precio}}</h3>

        <p>{{objeto[0].envio}}</p>

        <button  routerLink="/card" class="button">comprar ahora</button>


      </div>
    </div>

  </div>


